TriCore Debug (TASKING)

*.o
*.obj
*.elf
*.hex
*.srec
*.map
*.lst
*.dep
*.d


.metadata/
*.user
*.useros
*.launch

.DS_Store
Thumbs.db
*~
*.swp
*.swo
*.bak
*.tmp

Configurations/Debug/sync_on_halt.c
Configurations/Ifx_Cfg_Ssw.c
Configurations/Ifx_Cfg_Ssw.h
Configurations/Ifx_Cfg_SswBmhd.c
Configurations/Ifx_Cfg.h

.ads/


venv/
.venv/

__pycache__/
*.py[cod]
*$py.class

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.spec


.vscode/

.idea/

*.sublime-project
*.sublime-workspace


.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
ehthumbs.db
Desktop.ini

*.csv
*.png

