*.o
*.obj
*.elf
*.hex
*.srec
*.map
*.lst
*.dep
*.d


.metadata/      # Eclipse 워크스페이스 설정 (매우 중요!)
.settings/      # 일부 로컬 설정이 포함될 수 있으나, 보통 핵심 설정을 포함하므로 아래에 예외 처리
*.user
*.useros
*.launch

.DS_Store
Thumbs.db
*~
*.swp
*.swo
*.bak
*.tmp

Configurations/Debug/sync_on_halt.c
Configurations/Ifx_Cfg_Ssw.c
Configurations/Ifx_Cfg_Ssw.h
Configurations/Ifx_Cfg_SswBmhd.c
Configurations/Ifx_Cfg.h
